<app-navbar></app-navbar>
<app-publicidad></app-publicidad>
<h3 class="title">Aseguradoras</h3>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../assets/img/latinaSeguros.png"  alt="...">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/img/LOGO-seguros-equinoccialSslogan.png" alt="...">
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
<div class="flexColumnCenterContainer btns-container">
    <app-landing-btn
    title="Ver Ofertas de seguros disponibles"
    urlImg = "./assets/img/ofertas-btn.png"
    ></app-landing-btn>
    <app-landing-btn
    title="Cotizar Plan"
    urlImg = "./assets/img/cotizar-btn.png"
    ></app-landing-btn>
    <app-landing-btn
    title="Contacto"
    [isContact]=true
    ></app-landing-btn>
</div>
