.recover-icon__container{
    margin: 5rem 0 2rem;
}
.icon{
    height: 5rem;
    width: 5rem;
    font-size: 5rem;
}
.text{
    padding: 0 3rem;
    text-align: center;
}
.form-container{
gap:1rem;
border: none;
}
.email-input{
    border: none;
    border-bottom: 1px solid;
}
