<app-navbar></app-navbar>
<div class="flexColumnCenterContainer recover-icon__container">
    <mat-icon class="icon">lock</mat-icon>
    <h2>Recuperacion de la cuenta</h2>
</div>

<div class="flexRowCenterContainer">
    <P class="text">Se enviara un enlace a su correo electronico con un link para reestablecer su contraseña</P>
</div>

<form action="" class="flexColumnCenterContainer form-container" method="post">
    <input type="email" class="email-input" placeholder="Ingrese su email">
    <app-general-btn
    title="Enviar Enlace"
    ></app-general-btn>

</form>
