<app-navbar></app-navbar>
<div class="flexColumnCenterContainer">
    <h2 class="title">Contrasena y Seguridad</h2>
    <h4 class="inicio-sesion">Inicio Sesion</h4>
</div>

<div class="flexColumnCenterContainer">
    <form id="formulario" action="" class="password-form">
        <input type="password">
        <input type="password">
        <input type="password">
    </form>
    <app-general-btn
    title="Actualizar"
    ></app-general-btn>
    <app-general-btn
    title="Cancelar"
    ></app-general-btn>

</div>




