<app-navbar></app-navbar>
<div class="flexColumnCenterContainer">
    <h2 class="title">Contrasena y Seguridad</h2>
    <h4 class="inicio-sesion">Inicio Sesion</h4>
</div>

<div class="flexColumnCenterContainer">
    <form id="formulario" action="" class="flexColumnCenterContainer password-form">
        <input type="password" placeholder="Ingrese contrasena actual">
        <input type="password" placeholder="Ingrese nueva contrasena">
        <input type="password" placeholder="Confirmar nueva contrasena">
        <app-general-btn
    (click) ="actualizaContrasena()"
    title="Actualizar"
    ></app-general-btn>
    <app-general-btn
    title="Cancelar"
    ></app-general-btn>

    </form>


</div>




