<app-navbar></app-navbar>
<div class="flexColumnCenterContainer">
    <h2 class="title">Contrasena y Seguridad</h2>
    <h4 class="inicio-sesion">Inicio Sesion</h4>
</div>

<div class="flexColumnCenterContainer">
    <form id="formulario" action="" class="flexColumnCenterContainer password-form" [formGroup]="myform">
        <input type="text" placeholder="Ingrese usuario" formControlName="username">
        <input type="password" placeholder="Ingrese contrasena actual" formControlName="password">
        <input type="password" placeholder="Ingrese nueva contrasena" formControlName="newpassword">
        <input type="password" placeholder="Confirmar nueva contrasena" formControlName="anewpassword">
        <app-general-btn
    (click) ="actualizaContrasena()"
    title="Actualizar"
    ></app-general-btn>
    <app-general-btn  routerLink="/cuenta"
    title="Cancelar"
    ></app-general-btn>

    </form>


</div>
<app-footer></app-footer>



