.searchbar{
    height: 6.5%;
    display: flex;
}

.texto{
    width: 100%;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 5%;
    text-align: center;
    color: #114c90;
}

.texto2{
    width: 100%;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 5%;
    text-align: center;
    color: #114c90;
    padding-bottom: 3%;
}

.contenedor{
    margin-bottom: 40%;
}