
<!-- tarjeta de plan-->
<div class="planCard">
    <button class="button-container">
        <!-- contenedor de elementos de la tarjeta de plan-->
        <div class="card-container">
                <!-- parte izquierda-->
                <div class="text-container">
                    <h2 class="titulo">{{titulo}}</h2>
                    <p class="texto">
                        {{descripcion}}
                    </p>
                </div>
                <!-- parte derecha-->
                <div class="image-container">
                    <img class="image" [src]="urlImgBackg" alt="image">
                </div>
            </div> 
    </button>
</div>
