<div class="container">

    <mat-toolbar color="primary">
        <span class="spacer"></span>
        <button routerLink="/login" mat-icon-button class="icon favorite-icon" aria-label="home icon">
          <mat-icon>home</mat-icon>
        </button>

        <span class="spacer"></span>
        <button routerLink="/login" mat-icon-button class="icon favorite-icon" aria-label="acoount icon">
          <mat-icon>account_circle</mat-icon>
        </button>

        <span class="spacer"></span>
        <button routerLink="/login" mat-icon-button class="icon favorite-icon" aria-label="tips icon">
          <mat-icon>tips_and_updates</mat-icon>
        </button>

        <span class="spacer"></span>
        
  
    </mat-toolbar>

</div>
