<div class="footer">

    <mat-toolbar class="bar">

        <span class="spacer"></span>

        <button routerLink="/login" mat-icon-button class="icon favorite-icon" aria-label="home icon">
          <img src="./assets/img/inicio.png" alt="">
        </button>

        <span class="spacer"></span>

        <button routerLink="/login" mat-icon-button class="icon favorite-icon" aria-label="acoount icon">
          <img src="./assets/img/perfil.png" alt="">
        </button>

        <span class="spacer"></span>
        
        <button routerLink="/login" mat-icon-button class="icon favorite-icon" aria-label="tips icon">
          <img src="./assets/img/tips.png" alt="">
        </button>

        <span class="spacer"></span>
        
  
    </mat-toolbar>

</div>
