
.search-container{
    width: 100%;
    height: 7%;
    background-color: #047ca5;
}

.search-bar{
    position: relative;
    background-color: #047ca5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    position: absolute;
    height: 51%;
    width: auto;
    left: 7%;
    top: 23%;
    z-index: 2;
    color: white;
}

.search-input{
    position: absolute;
    border: none;
    padding: 10px 10%;
    margin: 8px 0;
    display: inline-block;
    background-color: #006384;
    border-radius: 100px;
    box-sizing: border-box;
    width: 90%;
    height: 55%;
    left: 5%;
}

::placeholder {
    color: white;
    font-size: x-small;
  }
