<div class="ofertaCard">

    <!--Contenedor de la fecha de la oferta -->
    <div class="fecha">
        <div>Desde: {{fecha_inicio}}</div>
        <div>Hasta: {{fecha_final}}</div>
    </div>

    <!--Contenedor de la imagen y precio de la oferta -->
    <div class="cuerpo">
        <!-- contenedor para imagen y tipo de seguro-->
        <div class="izquierda">
            <img class="imagenBack" [src]="urlImgBackg" alt="imagebackground">
            <p class="tipo">{{tipoSeguro}}</p>
        </div>
        <!-- contenedor para logo y precio de seguro-->
        <div class="derecha">
            <img class="imagenLogo" [src]="urlImgLogo" alt="imagelogo">
            <p>Antes:</p>
            <div class="pre">{{precio_pre}}</div>
            <p>Despues:</p>
            <div class="pos">{{precio_pos}}</div>
        </div>

    </div>

    <!--Contenedor de la cobertura de la promocion -->
    <div class="cobertura">
        <div>*{{cobertura1}}</div>
        <div>*{{cobertura2}}</div>
        <div>*{{cobertura3}}</div>
    </div>

    <!--Contenedor de los iconos -->
    <div class="buttons">
        <button mat-raised-button color="primary">Like</button>
        <button mat-raised-button color="primary" routerLink="/contactus">Contact</button>
        <button mat-raised-button color="primary">Share</button>

    </div>
    
</div>

