<app-navbar></app-navbar>
<div class="flexColumnCenterContainer">
    <h2>Cuenta</h2>
    <p>Informacion de mi cuenta</p>
</div>
<div class="flexColumnCenterContainer">
    <div class="flexRowCenterContainer container-option">
        <mat-icon>info</mat-icon>
        <p class="info-cuenta">Informacion Personal</p>
    </div>
    <div routerLink="/change_password" class="flexRowCenterContainer container-option">
        <mat-icon>lock</mat-icon>
        <p class="info-cuenta">Contrasena y seguridad</p>

    </div>
</div>
