<div class="nav-container">
    <mat-toolbar class="bar">
      <button mat-icon-button >
        <mat-icon class="icon">chevron_left</mat-icon>
      </button>
      <span class="spacer"></span>
      <img class="logo" src="./assets/img/logo-noboa.png" alt="">
      <span class="spacer"></span>
      <button routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label=" icon-button with heart icon">
        <mat-icon class="icon">account_circle</mat-icon>
      </button>
      

    </mat-toolbar>

  </div>
