.spacer {
    flex: 1 1 auto;
  }

  .navbar{
    top: 0%;
    position: fixed;
    width: 100%;
  }

  .bar{
    background: linear-gradient(to right,  rgba(27,77,146,255), rgba(24,83,149,255) , rgba(33,186,227,255))

  }

  .icon{
    color: white;
  }

  .logo{
    height: 100%;
    width: auto;
  }