.searchbar{
    height: 6.5%;
    display: flex;
}

.titulo{
    width: 100%;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: #114c90;
}

.contenedor{
    margin-bottom: 40%;
}