<ion-header>
  <app-navbar></app-navbar>
</ion-header>
  <app-searchbar class="searchbar"></app-searchbar>
<ion-content>

  <div class="titulo">
    <div class="texto">TITULO</div>
    <img class="imagen1" src="./assets/img/editar2.png" alt="">
    <img class="imagen2" src="./assets/img/usuario.png" alt="">
  </div>

  <div class="label">Ingese el comentario o sugerencia</div>
  <div class="data">
    <form class="form">
      <textarea class="textarea" name="textarea"></textarea><br>
      <input class="button" type="submit" value="enviar">
    </form>
  </div>

  <app-footer></app-footer>
</ion-content>
