.btn{
    background-color: #004c8f;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.btn-data{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.title{
    position: absolute;
    color: white;
    width: 40%;
    left: 5%;
    font-size: small;
}

.bar{
    position: absolute;
    border: 1% solid rgb(255, 255, 255);
    width: 1%;
    height: 85%;
    background-color: white;
    color: white;
    left: 50%;
}

.image{
    width: 40%;
    right: 5%;
}

.spacer {
    flex: 1 1 auto;
  }