<ion-header>
  <app-navbar class="navbar"></app-navbar>
</ion-header>
<app-searchbar class="searchbar"></app-searchbar>
<ion-content>
  <div class="contenedor">
    <div class="titulo">
      <div class="texto1">Eventos Médicos</div>

      <div class="texto2">#123456</div>
    </div>

    <div class="datos">
      <div class="tipo container">
        <div class="texto">Tipo:</div>
        <div class="info1">Cirugia</div>
      </div>

      <div class="fecha container">
        <div class="texto">Fecha:</div>
        <img class="info2" src="./assets/img/calendario.png" alt="" />
      </div>

      <div class="plan container">
        <div class="texto">Plan Utilizado:</div>
        <div class="info3">Nombre de Plan</div>
      </div>

      <div class="lugar container">
        <div class="texto">Lugar en que ocurrio:</div>
        <div class="info4">Teodoro Aguilar</div>
      </div>

      <div class="examen container">
        <div class="texto">Examen Fisico:</div>
        <div class="info5">
          Extracción de Apendice, se realizo <br />Extracción de Apendice, se
          realizo <br />Extracción de Apendice, se realizo <br />Extracción de
          Apendice, se realizo <br />Extracción de Apendice, se realizo
        </div>
      </div>

      <div class="boton">
        <button class="archivos">ver archivos adjuntos</button>
      </div>

      <div class="pago container">
        <div class="texto">Pagado por el cliente:</div>
        <div class="info6">$1850</div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
