<div class="login-container">

    <div class="login">

        
        
        <form class="form" [formGroup]="myform" (ngSubmit)="onSubmit()">
             
                <span class="image">
                    <img class="login-icon" src="./assets/img/08.png" alt="">
                </span>
                
                <span class="shadow"></span>

               <div class="usuario-container">

                    <img class="user-icon" src="./assets/img/08.png" alt="">

                    <input class="usuario-input" type="text" autocomplete="off" formControlName="username" placeholder="usuario">

               </div>

               <div class="contrasena-container">

                    <img class="password-icon" src="./assets/img/09.png" alt="">

                    <input class="contrasena-input" type="password" autocomplete="off" formControlName="password" placeholder="contraseña">

               </div>

               <div class="button-container">
                    <button type="submit" class="submit-button" >
                        <p class="text">iniciar sesion</p>
                    </button>
               </div>

               <div class="recuperar-contasena" href=""><a href="">Haz olvidado tu contraseña?</a></div>

            
        </form>

    </div>
    
</div>

