<app-navbar></app-navbar>
<div class="main">

    <app-main-button
    title = "Administrar Empleados"
    urlImg = "./assets/img/admin-empleados.png"
    router_link = "/employees"

    ></app-main-button>

    <app-main-button
    title = "Lista de Clientes"
    urlImg = "./assets/img/lista-clientes.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Clientes Potenciales"
    urlImg = "./assets/img/cliente-potencial.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Revision comprobantes de pago"
    urlImg = "./assets/img/comprobante-pago.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Clientes en Mora"
    urlImg = "./assets/img/mora.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Formularios"
    urlImg = "./assets/img/formulario.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Solicitudes"
    urlImg = "./assets/img/solicitudes.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Comentarios"
    urlImg = "./assets/img/comentarios.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Ofertas"
    urlImg = "./assets/img/oferta.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Centro Medico"
    urlImg = "./assets/img/centro-medico.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "publicidad"
    urlImg = "./assets/img/publicidad.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Tip"
    urlImg = "./assets/img/Tip.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Contacto"
    urlImg = "./assets/img/Contacto.png"
    router_link = "/main"

    ></app-main-button>


</div>


