<app-navbar></app-navbar>
<div class="main">

    <div class="button-container">
        <button routerLink="/employees" mat-button class="button">
            <img class="image" src="./assets/img/admin-empleados.png" width="90%">
            <div class="text">Administrar Empleados</div>            
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/lista-clientes.png" width="90%">
            <div class="text">Lista de Clientes</div>            
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/cliente-potencial.png" width="90%">
            <div class="text">Clientes Potenciales</div>>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/comprobante-pago.png" width="90%">
            <div class="text">Solicitudes de Comprobante de Pago</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/mora.png" width="90%">
            <div class="text">Clientes en Mora</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/formulario.png" width="90%">
            <div class="text">Administrar Formularios</div>        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/solicitudes.png" width="90%">
            <div class="text">Solicitudes</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/comentarios.png" width="90%">
            <div class="text">Comentarios y sugerencias</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/oferta.png" width="90%">
            <div class="text">Ofertas</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/centro-medico.png" width="90%">
            <div class="text">Agregar Centos Medicos</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/publicidad.png" width="90%">
            <div class="text">Agregar Publicidad</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/tip.png" width="90%">
            <div class="text">Agregar Tip</div>
        </button>        
    </div>

    <div class="button-container">
        <button mat-button class="button">
            <img class="image" src="./assets/img/contacto.png" width="90%">
            <div class="text">Contacto</div>
        </button>        
    </div>

</div>
