<app-navbar></app-navbar>
<div class="main" >

    <div class="row">
        
        <div class="button">
            <app-main-button  title="Planes" urlImg="./assets/img/plan.png" router_link="/planes">
            </app-main-button>
        </div>

        <div class="button">
            <app-main-button  title="Reembolsos" urlImg="./assets/img/reembolsos.png" router_link="/">
            </app-main-button>
        </div>

        
        <div class="button">
            <app-main-button  title="tarjeta de Afiliacion" urlImg="./assets/img/tarjetas.png" router_link="/planes">
            </app-main-button>
        </div>

        <div class="button">
            <app-main-button  title="Eventos Medicos" urlImg="./assets/img/eventos-medicos.png" router_link="/">
            </app-main-button>
        </div>

        <div class="button">
            <app-main-button  title="Centros Medicos" urlImg="./assets/img/centros-medicos.png" router_link="/planes">
            </app-main-button>
        </div>

        <div class="button">
            <app-main-button  title="Contacto" urlImg="./assets/img/contacto.png" router_link="/">
            </app-main-button>
        </div>

        
        <div class="button">
            <app-main-button  title="Pagos" urlImg="./assets/img/pagos.png" router_link="/planes">
            </app-main-button>
        </div>

        <div class="button">
            <app-main-button  title="Comentarios y Sugerencias" urlImg="./assets/img/comentarios.png" router_link="/">
            </app-main-button>
        </div>

        <div class="button">
            <app-main-button  title="Ofertas" urlImg="./assets/img/ofertas.png" router_link="/">
            </app-main-button>
        </div>

    </div>
        
   

</div>
<app-footer></app-footer>