<app-navbar></app-navbar>
<div class="main">

    <app-main-button
    title = "Mis Planes"
    urlImg = "./assets/img/lista-clientes.png"
    router_link = "/employees"

    ></app-main-button>

    <app-main-button
    title = "Reembolsos"
    urlImg = "./assets/img/lista-clientes.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Tarjeta de Afiliacion"
    urlImg = "./assets/img/cliente-potencial.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Eventos Medicos"
    urlImg = "./assets/img/comprobante-pago.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Centros Medicos"
    urlImg = "./assets/img/mora.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Contacto"
    urlImg = "./assets/img/formulario.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Pagos"
    urlImg = "./assets/img/solicitudes.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Comentarios"
    urlImg = "./assets/img/comentarios.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Ofertas"
    urlImg = "./assets/img/oferta.png"
    router_link = "/main"

    ></app-main-button>

    <app-main-button
    title = "Tip"
    urlImg = "./assets/img/Tip.png"
    router_link = "/main"

    ></app-main-button>


</div>
