.publicidad{
    width: 98%;
    height: 9vh;
    position: relative;
}
.publicidad__img-container{
    width: 100%;
    height: 100%;
}

figure {
    border: 1px;
    padding: 10px;
    margin: auto;
  }
