<app-navbar></app-navbar>
<div class="employees_container">
    <app-searchbar></app-searchbar>
    <div class="listaEmpleados">
        
        <div class="empleado_container">
            <button mat-button>
                <div class="empleado">
                    <div>
                        <img class="empleado_foto" src="./assets/img/lista-clientes.png">
                    </div>
                    <div class="empleado_nombre">
                        Nombre Apellido
                    </div>
                </div>
            </button>
        </div>

  
        
    </div>
    <button class="agregar_empleado" mat-button>
        <mat-icon class="icono">person_add</mat-icon>
    </button>
</div>
