<div class="tipCard">

  <div class="container">

    <div class="fecha">
      <div class="fechaD">Desde: {{fecha_inicio}}</div>
      <div class="fechaH">Hasta: {{fecha_final}}</div>
    </div>
  
    <div class="imagenContainer">
      <img class="imagen" [src]="urlImgBackg" alt="">
    </div>
  
    <div class="texto">
      <p class="mensaje">Cuando Manejas procura no distraerte usando dispositivos moviles</p>
    </div>
  
    <div class="buttons">

      <button class="buttonImg like"><img src="./assets/img/me-gusta.png" alt=""></button>
      <button class="buttonImg share"><img src="./assets/img/compartir.png" alt=""></button>
  
    </div>
  </div>

</div>