<app-navbar></app-navbar>
<div class="cotizador-container">

     <form class="form" action="">

        <div class="titulo">
            <h2>Solicitar Cotizacion</h2>
            <p>Todos los campos son obligatorios</p>
        </div>

        <div class="userdata-container">
            <input class="userdata" type="text" placeholder="nombre">
        </div>
    
        <div class="userdata-container">
            <input class="userdata" type="email" placeholder="correo">
        </div>
    
        <div class="userdata-container">
            <input class="userdata" type="text" placeholder="numero">
        </div>
    
        <div class="userdata-container">
            <input class="userdata" type="text" placeholder="edad">
        </div>
    
        <div class="userdata-container">
            <select class="genero" name="genero">
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
                <option value="ninguno">Ninguno</option>
              </select>
        </div>

        <div class="checkbox-container">
            <input class="checker" type="checkbox">
            <p class="info">Marque esta casilla si desea recibir otras ofertas por correo</p>
        </div>

        <div class="button-container">
            <button type="submit" class="submit-button" [disabled]="">Solicitar Cotizacion</button>
       </div>

    </form>

</div>

