
.cotizador-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10%;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.userdata-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userdata{
    width: 65%;
    border: none;
    padding: 10px 10%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #85d0f4;
    border-radius: 100px;
    box-sizing: border-box;
}

.titulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genero{
    border: 1px solid #85d0f4;
    border-radius: 100px;
    background-color: transparent;
    width: 65%;
    padding: 10px 10%;
    margin-top: 2%;
}

.checkbox-container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.checker{
    display: inline-block;
    padding: auto;
}

.info{
    font-size: xx-small;
    color: #85d0f4;
    display: inline-block;
    padding: auto;
}

.button-container{
    width: 100%;
    height: 35%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.submit-button{
    border-radius: 90px;
    background-color:  #1a5794;
    width: 55%;
    height: 40%;
    border: none;
    justify-content: center;
    color: white;
}

