<ion-header>
<app-navbar></app-navbar>
</ion-header>

<ion-content>

  <div class="titulo">Solicitud de Reembolso</div>
  <div class="imagenseguro"><img class="img" src="./assets/img/equinoccialSeguros.png" alt=""></div>
  <div class="texto">Este formulario debe ser llenado
    para su solicitud de reembolso de
    su seguro de vida</div>
  <div class="texto2">Descargar Formulario</div>
  <div class="contenedorfile">
    <a class="textoformulario" href="">formulario.png</a>
    <img class="iconformulario" src="./assets/img/formulario.png" alt="">
  </div>
  <div class="texto3">Agregar Archivo:</div>
  <div class="archivo"><input type="file" id="myfile" name="myfile"></div>
  <div><button class="boton">Subir</button></div>


  <app-footer></app-footer>
</ion-content>
