.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.searchbar{
    height: 6.5%;
    display: flex;
}

.texto{
    margin-top: 3%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 7vw;
    color: #004c8f;
}

.ofertas{
    margin-bottom: 40%;
}