<app-navbar></app-navbar>
<div class="flexRowCenterContainer">
    <h2>Datos Empleado</h2>
</div>
<div class = "contacto" action="">
    <fieldset class="form-container">
        <label class = "form-label" for="cedula">Cedula: </label>
        <div class="data-container">
            <p> {{cedula}}
            </p>
        </div>

        <label class = "form-label" for="nombres">Nombre: </label>
        <div class="data-container">
            <p>
                {{nombre}}
            </p>
        </div>

        <label class = "form-label" for="apellidos">Apellido: </label>
        <div class="data-container">
            <p type="text" id="apellidos" required placeholder="Tu Apellido">
                {{apellido}}
            </p>

        </div>

        <label class = "form-label" for="telefono">Telefono: </label>
        <div class="data-container">
        <p>
            2584798
        </p>

        </div>

        <label class = "form-label" for="correo">E-MAIL: </label>
        <div class="data-container">
        <p>
            {{mail}}
        </p>

        </div>

        <label class="form-label" for="fecha">Fecha Nacimiento: </label>
        <div class="data-container">
            <p required type="date" id = "fecha" >
                12/05/1980
            </p>

        </div>

        <label class="form-label" for="estado_civil">Estado Civil: </label>
        <div class="data-container">
            <p>Soltero</p>

        </div>


        <label class="form-label" for="genero">Genero: </label>
        <div class="data-container">
            <p>Masculino</p>

        </div>


        <label class="form-label" for="pais">Pais: </label>
        <div class="data-container">
            <p>
                Ecuador
            </p>

        </div>


        <label class="form-label" for="provincia">Provincia: </label>
        <div class="data-container">
            <p>Guayas</p>
        </div>

        <label class = "form-label" for="ciduad">Ciudad: </label>
        <div class="data-container">
            <p >
                Guayaquil
            </p>
        </div>

        <label class = "form-label" for="fecha_ingreso">Fecha Ingreso a noboa: </label>
        <div class="data-container">
            <p> 15/01/2005</p>
        </div>

        <label class = "form-label" for="anexo">Anexo: </label>
        <div class="data-container"></div>


        <label class="form-label" for="genero">Rol: </label>
        <div class="data-container">
            <p>Administrador</p>
        </div>

    </fieldset>
    <div class="flexRowCenterContainer container-btns">

       <app-general-btn
       title="Editar"
       ></app-general-btn>

       <app-general-btn
       (click)="desvincular()"
       title="Desvincular"
       ></app-general-btn>

    </div>


</div>
