<app-navbar></app-navbar>
<div class="container">

  <div>
    <app-plan-card
    titulo="Seguro de Vida"
    descripcion="El Seguro de vida te da acceso a atencion en hospitales privades s privados y muchas cosas mas..."
    urlImgBackg="./assets/img/casa de campo.jpg"
    ></app-plan-card>

  </div>

  <div class="button-container">
      <button mat-fab color="primary" aria-label="icon button with a add icon">
        <mat-icon>add_circle</mat-icon>
      </button>
  </div>
</div>
<app-footer></app-footer>
