<div class="slider">
	<!-- 
    <img class="flechaI" src="./assets/img/arrow.png" alt="">-->

	<div class="slide-track">

        <div class="slide">
			<img class="imagen" src="./assets/img/equinoccialSeguros.png"  alt="" />
		</div>

		<div class="slide">
			<img class="imagen" src="./assets/img/latinaSeguros.png"  alt="" />
		</div>
        
		<div class="slide">
			<img class="imagen" src="./assets/img/mapfreSeguros.png"  alt="" />            
		</div>

		<div class="slide">
			<img class="imagen" src="./assets/img/equinoccialSeguros.png"  alt="" />
		</div>

		<div class="slide">
			<img class="imagen" src="./assets/img/latinaSeguros.png"  alt="" />
		</div>
        
		<div class="slide">
			<img class="imagen" src="./assets/img/mapfreSeguros.png"  alt="" />            
		</div>

    </div>
	<!--
    <img class="flechaD" src="./assets/img/arrow.png" alt="">-->

</div>       