<div class="slider">
	<div class="silder-container">

        <button class="arrow">
            <img class="right" src="./assets/img/arrow.png" alt="">
        </button>

        <div class="slide-track">
            <div class="slide">
                <img src="./assets/img/latinaSeguros.png" alt="" />
            </div>
            <div class="slide">
                <img src="./assets/img/latinaSeguros.png" alt="" />
            </div>
            <div class="slide">
                <img src="./assets/img/latinaSeguros.png" alt="" />
            </div>
            <div class="slide">
                <img src="./assets/img/latinaSeguros.png" alt="" />
            </div>		
        </div>

        <button class="arrow">
            <img class="left" src="./assets/img/arrow.png" alt="">
        </button>
    </div>
</div>
