.slider{
    width: 100%;
    background-color: #dbdbdb;
}

.silder-container{
    width: 100%;
    display: flex;
}

.slide-track{
    overflow: hidden;
    width: 80%;
    display: flex;
}

.slide img{
    height: 80%;
    width: auto;
    background-color: white;
    margin: 4% 4% 4% 4%;
}
.arrow{
    width: 10%;
    border: none;
    background-color: transparent;
}

.right, .left{
    height: 60%;
}

.left{
    transform: scaleX(-1);
}